* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: lightsteelblue;
}
#container {
  width: 900px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  background-color: #3a7777;
}
#banner {
  width: 100%;
  height: 500px;
  background-image: url(images/stock1.jpg);
  background-size: cover;
  color: #0c3233;
}
#banner h1 {
  position: absolute;
  left: 50px;
  top: 300px;
  font-size: 5.5rem;
}
#banner h2 {
  position: absolute;
  left: 50px;
  top: 400px;
}
#about {
  position: relative;
  color: white;
}
.about-image {
  width: 300px;
  height: 500px;
  background-image: url(images/stock4.jpg);
  background-size: cover;
}
.about-text {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 350px;
  top: 20px;
}
#about h1 {
  font-weight: bolder;
}
#about-p1 {
  position: absolute;
  top: 50px;
}
#about-p2 {
  position: absolute;
  top: 100px;
}
#about-p3 {
  position: absolute;
  top: 200px;
  color: black;
  font-weight: bolder;
}
#about-p4 {
  position: absolute;
  top: 230px;
}
#about-p5 {
  position: absolute;
  top: 300px;
  color: black;
  font-weight: bolder;
}
#about-p6 {
  position: absolute;
  top: 330px;
}
#hiw {
  position: relative;
  background-image: url(images/stock2.jpg);
  background-size: cover;
  background-position-y: -300px;
  width: auto;
  height: 500px;
}
.section-header {
  position: absolute;
  top: 40px;
  left: 50px;
  font-weight: bolder;
  font-size: 1.5rem;
}
.section-content {
  position: absolute;
  top: 40px;
  left: 50px;
  font-weight: bolder;
}
#hiw1 {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #0c3233;
  text-align: center;
  line-height: 40px;
  color: white;
  position: absolute;
  left: 100px;
  top: 100px;
}
#hiw2 {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #0c3233;
  text-align: center;
  line-height: 40px;
  color: white;
  position: absolute;
  left: 385px;
  top: 100px;
}
#hiw3 {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #0c3233;
  text-align: center;
  line-height: 40px;
  color: white;
  position: absolute;
  left: 650px;
  top: 100px;
}
#hiw-text1 {
  width: 200px;
  height: auto;
  background-color: #0c3233;
  border-radius: 20%;
  text-align: center;
  color: white;
  line-height: 30px;
  padding: 10px 20px;
  position: absolute;
  top: 160px;
  left: 15px;
}
#hiw-text2 {
  width: 200px;
  height: auto;
  background-color: #0c3233;
  border-radius: 20%;
  text-align: center;
  color: white;
  line-height: 30px;
  padding: 10px 20px;
  position: absolute;
  top: 160px;
  left: 300px;
}
#hiw-text3 {
  width: 200px;
  height: auto;
  background-color: #0c3233;
  border-radius: 20%;
  text-align: center;
  color: white;
  line-height: 30px;
  padding: 10px 20px;
  position: absolute;
  top: 160px;
  left: 570px;
}
#pricing {
  position: relative;
  background-color: #fbca06;
  background-size: cover;
  background-position-y: -300px;
  width: auto;
  height: 500px;
  position: relative;
}
#price-box1 {
  width: 200px;
  height: 250px;
  background-image: url(images/brownies2.jpg);
  background-size: cover;
  position: absolute;
  left: 100px;
  top: 100px;
  border-radius: 10%;
}
#price-tag1 {
  width: 100px;
  height: auto;
  background-color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5%;
}
#price-box1 p {
  position: absolute;
  top: 260px;
  text-align: center;
}
#price-box2 {
  width: 200px;
  height: 250px;
  background-image: url(images/cookies3.JPG);
  background-size: cover;
  position: absolute;
  left: 350px;
  top: 100px;
  border-radius: 10%;
}
#price-tag2 {
  width: 100px;
  height: auto;
  background-color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5%;
}
#price-box2 p {
  position: absolute;
  top: 260px;
  text-align: center;
}
#price-box3 {
  width: 200px;
  height: 250px;
  background-image: url(images/combo3.JPG);
  background-size: cover;
  position: absolute;
  left: 600px;
  top: 100px;
  border-radius: 10%;
}
#price-tag3 {
  width: 100px;
  height: auto;
  background-color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5%;
}
#price-box3 p {
  position: absolute;
  top: 260px;
  text-align: center;
}
#socials {
  position: relative;
  color: white;
  background-size: cover;
  background-position-y: -300px;
  width: auto;
  height: 500px;
  position: relative;
}
.socials-info {
    width: 300px;
    height: auto;
    position: absolute;
    top: 150px;
    left: 600px;
    line-height: 40px;
}
