* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  /* background-color: lightsteelblue; */
}
#container-fluid {
  width: 100%;
  height: auto;
  position: relative;
  /* background-color: lightsteelblue; */
  background-image: url(images/stock1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#banner {
  width: auto;
  max-width: none;
  min-width: 900px;
  height: 500px;
  /* background-image: url(images/stock1.jpg); */
  background-size: cover;
  color: #0c3233;
  margin: 0 auto;
}
#banner h1 {
  font-size: 5.5rem;
  text-align: center;
  /* padding: 15% 0; */
}
#banner h2 {
  text-align: center;
}
#about {
  position: relative;
  color: white;
  min-width: 900px;
  max-width: 900px;
  width: auto;
  height: 500px;
  margin: 0 auto;
  background-color: #3a7777;
}
.about-image {
  width: 300px;
  height: 500px;
  background-image: url(images/stock4.jpg);
  background-size: cover;
}
.about-text {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 350px;
  top: 20px;
}
#about h1 {
  font-weight: bolder;
}
#about-p1 {
  position: absolute;
  top: 50px;
}
#about-p2 {
  position: absolute;
  top: 100px;
}
#about-p3 {
  position: absolute;
  top: 200px;
  color: black;
  font-weight: bolder;
}
#about-p4 {
  position: absolute;
  top: 230px;
}
#about-p5 {
  position: absolute;
  top: 300px;
  color: black;
  font-weight: bolder;
}
#about-p6 {
  position: absolute;
  top: 330px;
}
#hiw {
  position: relative;
  background-image: url(images/stock2.jpg);
  background-size: cover;
  background-position-y: -300px;
  width: auto;
  max-width: none;
  min-width: 900px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.section-header {
  position: absolute;
  top: 40px;
  left: 50px;
  font-weight: bolder;
  font-size: 1.5rem;
}
.hiw-num {
  width: 220px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  color: black;
  background-color: #fbca06;
  top: 155px;
  font-weight: bolder;
}
.hiw-text {
  width: 220px;
  height: 100px;
  background-color: #0c3233;
  text-align: center;
  color: white;
  line-height: 25px;
}
#pricing {
  background-color: #fbca06;
  width: auto;
  max-width: none;
  min-width: 900px;
  height: 500px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
#section-header {
  position: absolute;
  top: 2rem;
  font-size: 2rem;
}
#price-tag {
  width: 100px;
  height: auto;
  color: black;
  background-color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5%;
}
#pricing p {
  position: absolute;
  width: 200px;
  top: 380px;
  text-align: center;
  color: black;
}
#price-box1 {
  width: 200px;
  height: 250px;
  background-image: url(images/brownies2.jpg);
  background-size: cover;
  border-radius: 10%;
}
#price-box2 {
  width: 200px;
  height: 250px;
  background-image: url(images/cookies3.JPG);
  background-size: cover;
  border-radius: 10%;
}

#price-box3 {
  width: 200px;
  height: 250px;
  background-image: url(images/combo3.JPG);
  background-size: cover;
  border-radius: 10%;
}

#socials {
  position: relative;
  color: white;
  background-size: cover;
  background-position-y: -300px;
  width: 900px;
  height: 500px;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}
.socials-info {
  width: 300px;
  height: auto;
  position: absolute;
  top: 150px;
  left: 600px;
  line-height: 40px;
}
